<div> La bagarre </div>
<div> {{this.name}}</div>
<button (click)="getName()">egzt</button>
<!-- <div> {{this.mewtwo.name}}</div> -->

<ul>
  <li *ngFor="let pokemon of pokemons">
      {{pokemon.name}}
  </li>
</ul>


<!-- <div id="contents">
    <div id="mainScreen" class="center-div">
      <div id="joueurActuelSidebar">
        <h1 id="joueurActuelUI">Pokemon</h1>
        <div id="boxJoueurActuel">
          <div>
            <img id="box1JoueurActuel" class="thumbnail" />
            <img id="box2JoueurActuel" class="thumbnail" />
          </div>
          <div>
            <img id="box3JoueurActuel" class="thumbnail" />
            <img id="box4JoueurActuel" class="thumbnail" />
          </div>
          <div>
            <img id="box5JoueurActuel" class="thumbnail" />
            <img id="box6JoueurActuel" class="thumbnail" />
          </div>
        </div>
      </div>
      <div id="joueurAdverseSidebar">
        <h1 id="joueurAdverseUI">Pokemon</h1>
        <div id="boxJoueurAdverse">
          <div>
            <img id="box1JoueurAdverse" class="thumbnail" />
            <img id="box2JoueurAdverse" class="thumbnail" />
          </div>
          <div>
            <img id="box3JoueurAdverse" class="thumbnail" />
            <img id="box4JoueurAdverse" class="thumbnail" />
          </div>
          <div>
            <img id="box5JoueurAdverse" class="thumbnail" />
            <img id="box6JoueurAdverse" class="thumbnail" />
          </div>
        </div>
      </div>

      <div id="joueurAdverse">
        <div id="joueurAdverseBlocTexte">
          <div id="joueurAdversePokemon"></div>
          <progress id="joueurAdversePV" value="" max=""></progress>
        </div>

        <img id="joueurAdverseImage" />
      </div>

      <div id="joueurActuel">
        <div id="joueurActuelBlocTexte">
          <div id="joueurActuelPokemon"></div>
          <progress id="joueurActuelPV" value="" max=""></progress>
        </div>

        <img id="joueurActuelImage" />
      </div>
    </div>
  </div> -->