<!-- <div id="controls">
  <div class="menuBouton">
    <button id="attaque" class="hidden visible">Attaquer</button>
  </div>

  <div id="menuBouton" class="hidden visible">
    <button id="utiliserObjet">Objet</button>
    <button id="changerPokemon">Pokemon</button>
  </div>
</div> -->

<router-outlet>
  <div id="menuBouton">
    <div>
      <button id="attaque" [routerLink]="['/attack']">Attaquer</button>
    </div>
    <button id="utiliserObjet" [routerLink]="['/object']">Objet</button>
    <button id="changerPokemon" [routerLink]="['/pokemon']">Pokemon</button>
  </div>
</router-outlet>

<!-- 
<div id="controls">
    <div class="menuBouton">
      <button id="attaque" class="hidden visible">Attaquer</button>
    </div>

    <div id="menuBouton" class="hidden visible">
      <button id="utiliserObjet">Objet</button>
      <button id="changerPokemon">Pokemon</button>
    </div>

    <div id="menuAttaque" class="hidden">
      <div class="attaqueBouton">
        <button id="attaque1" class="tooltip">Attaque 1</button>
        <button id="attaque2" class="tooltip">Attaque 2</button>
      </div>
      <div>
        <button id="attaque3" class="tooltip">Attaque 3</button>
        <button id="attaque4" class="tooltip">Attaque 4</button>
      </div>
      <div>
        <button id="cancelAttaque">Annuler</button>
      </div>
    </div>

    <div id="menuObjet" class="hidden">
      <ul>
        <li>Potion 1</li>
        <li>Potion 2</li>
        <li>Potion 3</li>
      </ul>
      <div>
        <button id="cancelObjet">Annuler</button>
      </div>
    </div>

    <div id="menuPokemon" class="hidden">
      <div>
        <button id="pokemon1">Pokemon 1</button>
        <button id="pokemon2">Pokemon 2</button>
      </div>
      <div>
        <button id="pokemon3">Pokemon 3</button>
        <button id="pokemon4">Pokemon 4</button>
      </div>
      <div>
        <button id="pokemon5">Pokemon 5</button>
        <button id="pokemon6">Pokemon 6</button>
      </div>

      <div>
        <button id="cancelPokemon">Annuler</button>
      </div>
    </div>
  </div> -->